.main {
    max-width: 500px;
    width: 85%;
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
    box-shadow:
      0 2px 4px 0 rgb(0 0 0 / 20%),
      0 2.5rem 5rem 0 rgb(0 0 0 / 10%);
}

@media screen and (min-width: 600px) {
  .main {
    width: 70%;
  }
}

label {
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  padding-bottom: 1rem;
}

ul {
  padding-inline-start: 0;
}

.li-item {
  list-style: none;
  margin: 5px;
}

.new-item{
  width: 50%;
  height: 30px;
}
.no-dotos{
  margin: 0 10px 0 0;
  text-align: right;
}

.filter-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filter{
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.filter-title{
  margin: 0 0 0 5px;
}

.active {
  color: lime;
}